<%# マイクロポストごとにCSSのidを追加 %>
<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <% if micropost.image.attached? %>
      <%# この時にリサイズされる %>
      <%# 結果は以後の効率を高めるためにキャッシュされます %>
      <%= image_tag micropost.image.variant(:display) %>
    <% end %>
  </span>
  <span class="timestamp">
    <%# time_age_in_words→helperオブジェクトから使うことができる %>
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, data: { "turbo-method": :delete, turbo_confirm: "You sure?" } %>
    <% end %>
  </span>
</li>
